<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<%= select_tag "hostSelection", options_from_collection_for_select(Host.all, "id", "name", :selected => params[:host]), { :include_blank => "All"} %>

<%=render partial: 'events/partials/event_list' %>

<br>

<div>
  <%= link_to 'New Event', new_event_path %>
</div>

<%=render 'events/partials/import' %>

<%=render 'events/partials/script' %>
